.img-1 /*This is formatting for the background image of the page*/
{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("tide.jpg");
	height: 10%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------This is the beginning of navbar section------------*/

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border-style: solid;
	border-width: 1px;
	border-color: #ffb3b3;
	text-align: center;
}

.nav
{
    float: left;
}

.nav a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover 
{
    background-color: #ffb3b3;	/* This is a pink color */
}

/* -------------This is the end of the navbar section--------------*/

h1
{
	font-size: 70px;
	text-shadow: 3px 3px white;
	color: #ff8080;
	margin-top: 45px;
	margin-bottom: 3%;
}

h1, h2, h3, a, .return
{
	text-align: center;
}


p, ol, a
{
	font-size: 22px;
	color: white;
}

h2
{
	font-size: 30px;
	color: #ff8080;
}

h3
{
	font-size: 25px;
	color: #ccff66;
}

p, h2, h3, h4, li, img
{	margin-left: 7%;
	margin-right: 7%;
}

.mountain
{
	margin-bottom: 40px;
	margin-top: 15px;
	margin-left: 12%;
	margin-right: 9%;
}

.map, .forest, .waterfall
{
	float: right;
}

.bear
{
	float: left;
	margin-top: 15px;
}

#logo /*this is formatting for the HTML validator logo*/
{
	margin-left: 40%;
	margin-right: 25%;
	margin-top: 20%;
	margin-bottom: 5%;
}

.return
{
	margin-bottom: 5%;
	padding: 1%;
	border-radius: 30%;
}

img, .return
{
	border-style: double;
	border-width: 4px;
	border-color: white;
}
	
	


	