body
{
	background-image: url("blue.jpg");
}

p, li
{
	font-size: 22px;
	color: white;
}

h1
{
	font-size: 40px;
	color: white;
	margin-top: 30px;
}

h2, h3, h4
{
	text-align: center;
	font-size: 30px;
	color: LightSalmon;
}

p, h2, h3, h4, li
{	margin-left: 65px;
	margin-right: 65px;
}

.mountain
{
	margin-bottom: 40px;
	text-align: center;
}

.map
{
	float: right;
	border-image: url(map.jpg) 30 round; 
	border-color: LightSalmon;
}

.forest
{
	float: right;
	margin-right: 100px;
}

.bear
{
	float: left;
	margin-top: 15px;
}
	